*{
	margin: 0;
	padding: 0;
}
body {
	background: url(images/bg.png) no-repeat center top;
}

 canvas {
	/*border: 3px solid black;*/
	margin: 20px auto;
	display: block;
	position: relative;
}
#playgr img {
	margin-top: -4px;
	margin-left: 205px;
	position: absolute;
	z-index: 999;
}
#play img {
	position: absolute;
	margin-top: 147px;
	margin-left:  560px;
	 margin-right: auto;
	 z-index: 999;
}

#sound1 img {
	position: absolute;
	margin-top: 110px;
	margin-left:  300px;
	 margin-right: auto;
	 z-index: 999;
	 
}
#sound2 img {
	position: absolute;
	margin-top: 110px;
	margin-left:  400px;
	 margin-right: auto;
	 z-index: 999;
	 
}
#sound3 img {
	position: absolute;
	margin-top: 110px;
	margin-left:  500px;
	 margin-right: auto;
	 z-index: 999;
	 
}
#sound4 img {
	position: absolute;
	margin-top: 110px;
	margin-left:  600px;
	 margin-right: auto;
	 z-index: 999;
	 
}
#sound5 img {
	position: absolute;
	margin-top: 110px;
	margin-left:  700px;
	 margin-right: auto;
	 z-index: 999;
}

	